section.hero.is-primary
  .hero-body
    .columns
      .column
        .content
          a.title(href='https://github.com/nisrulz/app-privacy-policy-generator#app-privacy-policy-generator' target='_blank' rel='noopener noreferrer')
            h1
              | App 
              em Privacy Policy
              |  Generator
          h4.subtitle
            | Generate a generic Privacy Policy and Terms &amp; Conditions
            | for your apps
            p
              | Based on the open-source version made by 
              a(href='http://www.nisrulz.com/' target='_blank' rel='noopener noreferrer') Nishant 
              a(href='https://github.com/nisrulz/app-privacy-policy-generator/graphs/contributors' target='_blank' rel='noopener noreferrer') and contributors. 
            p
              a(@click='toggleDisclaimerModalVisibility' rel='noopener noreferrer') Disclaimer
            p
              a(href='https://github.com/mansari/app-privacy-policy-generator' target='_blank' rel='noopener noreferrer') Download Source
